 
/* ---- particles.js container ---- */
 #particles-js {
     position: absolute;
     width: 100%;
     height:100%;
     background-color: white;
     background-image: url("");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     z-index:1;
    /* background - lowest index */
}